
html, body {
    padding: 0;
    margin: 0;
    overflow: hidden;

    background-image: url("./assets/background.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.menu-screen {
    position: absolute;

    z-index: 99;

    width: 100%;
    height: 100vh;

    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 2rem;

    background-color: rgb(0, 0, 0, 0.5);
}

.menu-screen > h1 {
    font-size: 7rem;
    color: white;

    margin: 2rem;
}

.menu-screen > p {
    margin: 0;
    color: white;

    font-size: 3rem;
    font-weight: bold;
}

.menu-screen > button {
    background-color: transparent;
    border: none;
    color: white;

    font-size: 3rem;
    font-weight: bold;

    cursor: pointer;
    transition: 0.2s;
}


.menu-screen > button:hover {
    transform: scale(1.1);
}

.menu-screen > button:active {
    transform: scale(0.9);
}



.options-container {
    font-family: "Press Start 2P", sans-serif;
    font-size: 20px; 
    color: #fff;
    background-color: grey; 
    padding: 20px; 
    display: inline-block;
    border: 5px solid #222; 

    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.options-container > p {
    font-size: 2rem;
    font-weight: bold;
}

.options-container > button {
    height: 40px;
    width: 40px;
    background-color: rgb(0, 206, 0);
    cursor: pointer;
}

#volume-slider {
    -webkit-appearance: none; 
    appearance: none; 
    width: 300px; 
    height: 30px; 
    background: #444;
    border: 4px solid #222; 
    border-radius: 0; 
    outline: none; 
    image-rendering: pixelated; 
    position: relative; 
}

#volume-slider::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(-50%);
    z-index: -1;
}

#volume-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none; 
    width: 40px; 
    height: 40px; 
    background: blue; 
    border: 4px solid #222; 
    border-radius: 0; 
    cursor: pointer; 
    image-rendering: pixelated; 
}

#volume-slider::-moz-range-thumb {
    width: 40px;
    height: 40px;
    background: #ff0000;
    border: 4px solid #222;
    border-radius: 0;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    image-rendering: pixelated;
}


